/* You can add global styles to this file, and also import other style files */
@use "./layout/layout.scss";
@use "primeicons/primeicons.css";
@use "./demo/demo.scss";

@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./flags.css";
// @import "https://unpkg.com/primeicons/primeicons.css";

.hello {
    color: red;
}

:root {
    --body-bg: var(--p-surface-50);
    --body-text-color: var(--p-surface-900);
    --card-border: 1px solid var(--border-color);
    --card-bg: var(--p-surface-0);
    --border-color: var(--p-surface-200);
    --text-color: var(--p-surface-700);
    --overlay-background: #ffffff;
}

:root[class="p-dark"] {
    --body-bg: var(--p-surface-950);
    --body-text-color: var(--p-surface-50);
    --card-border: 1px solid transparent;
    --card-bg: var(--p-surface-900);
    --border-color: rgba(255, 255, 255, 0.1);
    --text-color: var(--p-surface-0);
    --overlay-background: var(--p-surface-900);
}

html {
    font-size: 14px;
}

body {
    margin: 0px;
    min-height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: var(--body-bg);
    font-weight: normal;
    color: var(--body-text-color);
}

.card {
    background: var(--card-bg);
    border: var(--card-border);
    padding: 2rem;
    border-radius: 10px;
    margin-bottom: 1rem;
}

.border-bottom-2 {
    border-bottom: 2px solid var(--p-primary-500) !important;
    border-radius: 0px !important;
}